<div>
    <h2>Adicionar Lote Para : {{produto.product_name}}</h2>
</div>
<form class="example-container" [formGroup]="loteForm" (ngSubmit)="addLote(loteForm.value)">
        <mat-form-field>
            <input matInput name="productlote_code" placeholder="CÓDIGO (codigo de referência do lote)"
                formControlName="productlote_code">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="productlote_price" placeholder="PREÇO" formControlName="productlote_price">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="productlote_qtd" placeholder="QUANTIDADE" formControlName="productlote_qtd">
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="pickerv"
                placeholder="VALIDADE (informe a validade oferecida pelo fornecedor)"
                formControlName="productlote_validity" name="productlote_validity">
            <mat-datepicker-toggle matSuffix [for]="pickerv"></mat-datepicker-toggle>
            <mat-datepicker #pickerv></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="pickerg1"
                placeholder="GARANTIA (informe a garantia oferecida pelo fornecedor)"
                formControlName="productlote_waranty" name="productlote_waranty">
            <mat-datepicker-toggle matSuffix [for]="pickerg1"></mat-datepicker-toggle>
            <mat-datepicker #pickerg1></mat-datepicker>
        </mat-form-field>
        <button type="submit" [disabled]="!loteForm.valid" mat-button md-colors="green">CADASTRAR LOTE</button>
    </form>
    <div *ngIf="this.lotes.data.length > 0">
        <h3>Novos lotes Adicionados</h3>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value, this.products)" placeholder="Buscar ...">
        </mat-form-field>
        <div class='table-container'>
            <table *ngIf="this.lotes.data.length > 0" mat-table [dataSource]="lotes">
                <ng-container matColumnDef="lcode">
                    <th mat-header-cell *matHeaderCellDef> CODE </th>
                    <td mat-cell *matCellDef="let element"> {{element.productlote_code}} </td>
                </ng-container>
                <ng-container matColumnDef="lusername">
                    <th mat-header-cell *matHeaderCellDef> USUÁRIO </th>
                    <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
                </ng-container>
                <ng-container matColumnDef="lqtd">
                    <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
                    <td mat-cell *matCellDef="let element"> {{element.productlote_qtd}} </td>
                </ng-container>
                <ng-container matColumnDef="lwarranty">
                    <th mat-header-cell *matHeaderCellDef> GANRANTIA </th>
                    <td mat-cell *matCellDef="let element"> {{element.productlote_waranty |date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="lvalidity">
                    <th mat-header-cell *matHeaderCellDef> VALIDADE </th>
                    <td mat-cell *matCellDef="let element"> {{element.productlote_validity |date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="lprice">
                    <th mat-header-cell *matHeaderCellDef> PREÇO </th>
                    <td mat-cell *matCellDef="let element"> {{element.productlote_price | currency:'BRL':true}} </td>
                </ng-container>
                <ng-container matColumnDef="lcreated_at">
                    <th mat-header-cell *matHeaderCellDef> CADASTRO </th>
                    <td mat-cell *matCellDef="let element"> {{ element.created_at |date : 'dd/MM/yyyy'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="loteColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: loteColumns;"></tr>
            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 300]" showFirstLastButtons></mat-paginator>
    </div>