<mat-card>
  <div class="container">
    <div class="example-container2">
      <form [formGroup]="fGroup">
        <h2>Detalhes do Serviço</h2>
        <mat-form-field>
          <input matInput name="order_title" [placeholder]="'Titulo da OS'" [formControlName]="order_title" [formControl]="order_title"
            [(value)]="orders.order_title == undefined ? 'carregando' : orders.order_title">
        </mat-form-field> <br />
        <span>{{orders.order_description}}</span>
        <br />
        <mat-form-field>
          <ng-template matStepLabel>Obs.:</ng-template>
          <textarea matInput placeholder="Observação" [name]="order_description"
          [formControl]="order_description"></textarea>
        </mat-form-field>
      </form>
      <h3>STATUS : {{orders.order_status}}</h3>
      <h3>PRIORIDADE : {{orders.order_priority}}</h3>
    </div>
  </div>
  <div class="container" style="overflow-y: auto; max-height: 500px;">
    <div class="example-container">
      <h2>Produtos Disponíveis</h2>
      <div cdkDropList #prductList="cdkDropList" [cdkDropListData]="products"
        [cdkDropListConnectedTo]="[productSelectedList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngIf="products.length == undefined || products.length == 0" cdkDrag>Nenhum item usado</div>
        <div class="example-box" *ngFor="let item of products" cdkDrag>
          {{item.name}}
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Produtos Usados</h2>
      <div cdkDropList #productSelectedList="cdkDropList" [cdkDropListData]="productSelected"
        [cdkDropListConnectedTo]="[prductList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngIf="productSelected.length == undefined || productSelected.length == 0" cdkDrag>Nenhum item Disponível</div>
        <div class="example-box" *ngFor="let item of productSelected" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <br />
    <div class="example-container">
      <h2>Serviços Disponíveis</h2>
      <div cdkDropList #servicesList="cdkDropList" [cdkDropListData]="services"
        [cdkDropListConnectedTo]="[serviceSelectedList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngIf="services.length == undefined || services.length == 0" cdkDrag>Nenhum item usado</div>
        <div class="example-box" *ngFor="let item of services" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <div class="example-container">
      <h2>Serviços Usados</h2>
      <div cdkDropList #serviceSelectedList="cdkDropList" [cdkDropListData]="serviceSelected"
        [cdkDropListConnectedTo]="[servicesList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngIf="serviceSelected.length == undefined || serviceSelected.length == 0" cdkDrag>Nenhum item Disponível</div>
        <div class="example-box" *ngFor="let item of serviceSelected" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </div>
</mat-card>
<br />
<mat-card>
  <button type="submit" (click)="updateData()" mat-button color="primary">Atualizar</button>
</mat-card>