<mat-card>
  <mat-card-title>
    <div>
      <h3>CLIENTES
        <button [routerLink]="['/cliente-novo']" mat-flat-button color="accent" align="end">
          <mat-icon>add</mat-icon> Add CLIENTES
        </button></h3>
    </div>
  </mat-card-title>
  <mat-card-content>
      <app-datatable [dataSource]="clientes" [dataColumns]="dataColumns" [columnsNames]="columnsNames" [dataUrl]="'clientes'" [_id]="'client_id'"></app-datatable>
  </mat-card-content>
</mat-card>