<div>
    <h3>Editar Organização {{Cliente.client_fantasyname}}</h3>
</div>
<div class="example-loading-shade" *ngIf="isLoadingResults" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults && Cliente.client_id == undefined" layout-align="center center">
    <h3>Registro Não encontrado</h3>
</div>
<div class="example-container mat-elevation-z8" *ngIf="!isLoadingResults && Cliente.client_id != undefined">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step>
            <form class="example-container" [formGroup]="ClienteForm" (ngSubmit)="EditCliente(ClienteForm.value)">
                <ng-template matStepLabel>Adicionar Produto</ng-template>
                <mat-form-field>
                    <input matInput name="client_companyname" placeholder="RAZÃO SOCIAL" formControlName="client_companyname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="client_fantasyname" placeholder="NOME FANTASIA"
                        formControlName="client_fantasyname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="client_cnpj" placeholder="CNPJ" formControlName="client_cnpj">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="client_ie" placeholder="IE" formControlName="client_ie">
                </mat-form-field>
                <button type="submit" [disabled]="!ClienteForm.valid" mat-button color="primary">Atualizar</button>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>