<div class="example-loading-shade" [hidden]="dataSources" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value, this.dataSources)" placeholder="Buscar ...">
</mat-form-field>

<div [hidden]="dataSource.length > 0" layout-align="center center">
        <h3>Registro Não encontrado</h3>
</div>

<div class='table-container' [hidden]="dataSource.length == 0">
    <table mat-table [dataSource]="dataSources" matSort >
        <ng-container *ngFor="let disCol of dataColumns; let colIndex = index;">
            <ng-container *ngIf="disCol !== 'acao'" matColumnDef="{{disCol}}">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnsNames[colIndex] ? columnsNames[colIndex]  : disCol}}</th>
                <td mat-cell *matCellDef="let element"> 
                        <span *ngIf="!isStrDateTime(element[disCol])"> {{element[disCol] == ''|| element[disCol] ==  null? 'NÃO INFORMADO' : element[disCol]}}</span>
                        <span *ngIf="isStrDateTime(element[disCol])"> {{element[disCol] == ''|| element[disCol] ==  null? 'NÃO INFORMADO' : element[disCol] | date : 'dd/MM/yyyy'}}</span>
                    </td>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="acao === true" matColumnDef="acao" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element"> <button mat-flat-button routerLink="/{{dataUrl}}/{{element[_id]}}"
                    selected>
                    <mat-icon>chevron_right</mat-icon>
                </button></td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="dataColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataColumns;"></tr>
    </table>
</div>
<mat-paginator [hidden]="dataSource.length == 0" [pageSizeOptions]="[5, 10, 20, 100, 300]" showFirstLastButtons></mat-paginator>
