<app-widget-info [dataSource]="orders" [dataColumns]="dataColumns" [columnsNames]="columnsNames"
    [description]="'Detalhes e informacoes sobre a O.S : '+orders.order_title"
    [title]="'Sobre a Ordem de serviço : '+orders.order_title" [editLink]="'ordens-editar'" [routeId]="orders.order_id"
    [dataVer]="dataVer" (deleteMethod)="getDialog($event)">
    <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary" *ngIf="orders.user_worked_id == null && orders.user_ended_id == null " selected>
                <mat-icon>add</mat-icon>{{orders.user_created_id}}
            </mat-chip>
            <mat-chip color="accent" *ngIf="orders.user_worked_id != null && orders.user_ended_id == null " selected>
                <mat-icon>build</mat-icon>EM EXECUÇÃO
            </mat-chip>
            <mat-chip color="warn" *ngIf="orders.user_worked_id != null && orders.user_ended_id != null " selected>
                <mat-icon>done_all</mat-icon>FINALIZADO
            </mat-chip>
        </mat-chip-list>
    <!-- ACORDION -->
    <br />
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Clientes Associados
                </mat-panel-title>
                <mat-panel-description>
                    Lista de todos os clientes vinculados ao usuário
                </mat-panel-description>
            </mat-expansion-panel-header>
            <br />
            <app-datatable *ngIf="orders.clients != undefined" [dataSource]="orders.clients"
                [dataColumns]="clientColumns" [columnsNames]="clientNames" [dataUrl]="'ordens'" [_id]="'client_id'">
            </app-datatable>
        </mat-expansion-panel>
    </mat-accordion>
</app-widget-info>