<div class="example-loading-shade" *ngIf="isLoadingResults" layout-align="center center">
    <mat-spinner *ngIf="dataSource === undefined"></mat-spinner>
</div>

<div class="example-container mat-elevation-z8">
    <div class="button-row">
        <button mat-flat-button [routerLink]="['/clientes']">
            <mat-icon>arrow_back_ios</mat-icon> Voltar
        </button>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{title}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item *ngFor="let item of dataColumns; let ind = index;">
                    <mat-list-item>
                        <b>{{ columnsNames[ind] }} : </b> &nbsp;
                        <!-- <span *ngIf="item == 'created_at' &&  dataSource[item] != null|| item == 'updated_at'  &&  dataSource[item] != null; else elseBlock"> -->
                        <span *ngIf="isStrDateTime(dataSource[item]); else elseBlock">
                            {{ dataSource[item] === null || dataSource[item] === '' ? 'NÃO INFORMADO' : dataSource[item] | date : 'dd/MM/yyyy' }}
                            às
                            {{ dataSource[item] == null || dataSource[item] == '' ? '' : dataSource[item] | date : 'H:mm:ss' }}
                            <b>( {{ dataSource[item] | dateago}} )</b>
                        </span>
                        <ng-template #elseBlock>
                            {{ dataSource[item] === null || dataSource[item] === '' ? 'NÃO INFORMADO' : dataVer[item] ? dataSource[item] : dataSource[item] }}
                        </ng-template>
                    </mat-list-item>
                </mat-list-item>
            </mat-list>
            <ng-content></ng-content>
        </mat-card-content>
        <mat-card-actions>
                <button mat-flat-button color="primary" [routerLink]="'/'+editLink+'/'+routeId">
                    <mat-icon>edit</mat-icon> Editar
                </button>
                <button mat-flat-button color="warn" (click)="deleteMethod.emit(routeId)">
                    <mat-icon>delete</mat-icon> Excluir
                </button>
        </mat-card-actions>
    </mat-card>
</div>