<mat-card>
  <mat-card-title>
    <div>
    <h3>PRODUTOS
      <button [routerLink]="['/produto-novo']" mat-flat-button color="accent" align="end">
        <mat-icon>add</mat-icon> Add Produto
      </button></h3>
      </div>
  </mat-card-title>
  <mat-card-content >
      <app-datatable *ngIf="products != undefined" [dataSource]="products" [dataColumns]="dataColumns" [columnsNames]="columnsNames" [dataUrl]="'produtos'" [_id]="'product_id'"></app-datatable>
  </mat-card-content>
</mat-card>