<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <ng-content></ng-content>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-button color="warn" *ngIf="confirm !== undefined" [mat-dialog-close]="true" cdkFocusInitial>{{confirm}}</button>
</mat-dialog-actions>