<app-widget-info [dataSource]="produto" [dataColumns]="dataColumns" [columnsNames]="columnsNames" 
[description]="'Detalhes e informacoes sobre o Produto : '+produto.product_name" 
[title]="'Sobre o Produto : '+produto.product_name"
[editLink]="'produto-editar'" 
[routeId]="produto.product_id" 
[dataVer]="dataVer"
(deleteMethod)="getDialog($event)">

<!-- ACORDION -->
<mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Lotes deste produto
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button [routerLink]="['/lote-novo/',produto.product_id]" mat-flat-button color="warn"><mat-icon>add</mat-icon> Add Lote</button>
            <br />
            <app-datatable *ngIf="lotes != undefined" [dataSource]="lotes" [dataColumns]="loteColumns" [columnsNames]="loteNames"></app-datatable>
            
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Movimentações deste produto
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <button [routerLink]="['/produto-movta/',produto.product_id]" mat-flat-button color="warn"><mat-icon>add</mat-icon> Movimentar produto</button>
            <br />
            <app-datatable *ngIf="movta != undefined" [dataSource]="movta" [dataColumns]="movtaColumns" [columnsNames]="movtaNames"></app-datatable>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Clientes Associados
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <br />
            <app-datatable *ngIf="clients != undefined" [dataSource]="clients" [dataColumns]="clientColumns" [columnsNames]="clientNames"></app-datatable>
        </mat-expansion-panel>
    </mat-accordion>
</app-widget-info>

<!--
<div class="example-loading-shade" [hidden]="!isLoadingResults" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<div [hidden]="isLoadingResults && produto.length == 0" layout-align="center center">
    <h3>Registro Não encontrado</h3>
</div>
<div class="example-container mat-elevation-z8" *ngIf="!isLoadingResults && produto.product_id > 0">    
    <div class="button-row">
        <button mat-flat-button [routerLink]="['/produtos']">
            <mat-icon>arrow_back_ios</mat-icon> Voltar
        </button>
    </div>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>
                <h2>{{produto.product_name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>{{produto.product_description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            
            <mat-list>
                <mat-list-item> Preço : {{produto.product_price | currency:'BRL':true}}</mat-list-item>
                <mat-list-item> Fornecedor : {{ produto.product_provider }}</mat-list-item>
                <mat-list-item> Produto de Amostra : {{ produto.product_sample == 1 ? "SIM" : "NÃO" }}</mat-list-item>
                <mat-list-item> Peso : {{ produto.product_weight == 0 || produto.product_weight == undefined ? 'INDEFINIDO' : produto.product_weight }}</mat-list-item>
                <mat-list-item> Tamanho : {{ produto.product_scale == undefined ? 'INDEFINIDO' : produto.product_scale }}</mat-list-item>
                <mat-list-item> Cadastrado em : {{produto.created_at | date : 'dd/MM/yyyy'}} ás
                    {{produto.created_at | date : 'H:mm:ss'}}</mat-list-item>
                <mat-list-item *ngIf="produto.updated_at != null"> Atualizado em :
                    {{produto.updated_at | date : 'dd/MM/yyyy'}} ás {{produto.updated_at | date : 'H:mm:ss'}}
                </mat-list-item>
            </mat-list>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Lotes deste produto
                        </mat-panel-title>
                        <mat-panel-description>
                            
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <button [routerLink]="['/lote-novo/',produto.product_id]" mat-flat-button color="warn"><mat-icon>add</mat-icon> Add Lote</button>
                    <p *ngIf="lotes.length == 0"> NENHUM LOTE PARA ESTE PRODUTO</p>
                    <table *ngIf="lotes.length > 0" mat-table [dataSource]="lotes">
                        <ng-container matColumnDef="lcode">
                            <th mat-header-cell *matHeaderCellDef> CODE </th>
                            <td mat-cell *matCellDef="let element"> {{element.productlote_code}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lprice">
                            <th mat-header-cell *matHeaderCellDef> PREÇO </th>
                            <td mat-cell *matCellDef="let element"> {{element.productlote_price | currency:'BRL':true}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lusername">
                            <th mat-header-cell *matHeaderCellDef> USUÁRIO </th>
                            <td mat-cell *matCellDef="let element"> {{element.user_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lqtd">
                            <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
                            <td mat-cell *matCellDef="let element"> {{element.productlote_qtd}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lwarranty">
                            <th mat-header-cell *matHeaderCellDef> GANRANTIA </th>
                            <td mat-cell *matCellDef="let element"> {{element.productlote_waranty |date : 'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lvalidity">
                            <th mat-header-cell *matHeaderCellDef> VALIDADE </th>
                            <td mat-cell *matCellDef="let element"> {{element.productlote_validity |date : 'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lcreated_at">
                            <th mat-header-cell *matHeaderCellDef> CADASTRO </th>
                            <td mat-cell *matCellDef="let element"> {{ element.created_at |date : 'dd/MM/yyyy'}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="loteColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: loteColumns;"></tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Movimentações deste produto
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <button [routerLink]="['/produto-movta/',produto.product_id]" mat-flat-button color="warn"><mat-icon>add</mat-icon> Movimentar produto</button>
                    <p *ngIf="movta.length == 0"> NENHUMA MOVIMENTAÇÃO PARA ESTE PRODUTO</p>
                    <table *ngIf="movta.length > 0" mat-table [dataSource]="movta">
                            <ng-container matColumnDef="mde">
                                <th mat-header-cell *matHeaderCellDef> DE </th>
                                <td mat-cell *matCellDef="let element"> {{element.client_id}} - {{element.unity_id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mpara">
                                <th mat-header-cell *matHeaderCellDef> PARA </th>
                                <td mat-cell *matCellDef="let element"> {{element.productmovta_client_id}} - {{element.productmovta_unity_id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mpor">
                                <th mat-header-cell *matHeaderCellDef> POR </th>
                                <td mat-cell *matCellDef="let element"> {{element.user_id }} </td>
                            </ng-container>
                            <ng-container matColumnDef="mem">
                                <th mat-header-cell *matHeaderCellDef> EM </th>
                                <td mat-cell *matCellDef="let element"> {{element.created_at |date : 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mqtd">
                                <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
                                <td mat-cell *matCellDef="let element"> {{element.productmovta_qtd}} </td>
                            </ng-container>
                            <ng-container matColumnDef="mobs">
                                <th mat-header-cell *matHeaderCellDef> OBSERVAÇÃO </th>
                                <td mat-cell *matCellDef="let element"> {{ element.productmovta_obs == null ? 'Nenhuma Observação' :  element.productmovta_obs}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="movtaColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: movtaColumns;"></tr>
                        </table>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Clientes Associados
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p *ngIf="clients.length == 0"> NENHUM CLIENTE PARA ESTE PRODUTO</p>
                    <table *ngIf="clients.length > 0" mat-table [dataSource]="clients">
                            <ng-container matColumnDef="crsocial">
                                <th mat-header-cell *matHeaderCellDef> RAZÃO SOCIAL </th>
                                <td mat-cell *matCellDef="let element"> {{element.client_companyname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="cfantasyname">
                                <th mat-header-cell *matHeaderCellDef> NOME FANTASIA </th>
                                <td mat-cell *matCellDef="let element"> {{element.client_fantasyname}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ccnpj">
                                <th mat-header-cell *matHeaderCellDef> CNPJ </th>
                                <td mat-cell *matCellDef="let element"> {{element.client_cnpj}} </td>
                            </ng-container>
                            <ng-container matColumnDef="cie">
                                <th mat-header-cell *matHeaderCellDef> IE </th>
                                <td mat-cell *matCellDef="let element"> {{element.client_ie == null ? 'ISENTO' : element.client_ie}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ccreated_at">
                                <th mat-header-cell *matHeaderCellDef> CADASTRO </th>
                                <td mat-cell *matCellDef="let element"> {{element.created_at |date : 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="clientColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: clientColumns;"></tr>
                        </table>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" class="teste"
                [routerLink]="['/produto-editar', produto.product_id]">
                <mat-icon>edit</mat-icon> Editar
            </button>
            <button mat-flat-button color="warn" (click)="getDialog(produto.product_id)">
                <mat-icon>delete</mat-icon> Excluir
            </button>
        </mat-card-actions>
    </mat-card>
</div> -->