<mat-card>
    <mat-card-title>
      <div>
        <h3>ORDENS DE SERVIÇO
          <button [routerLink]="['/ordens-novo']" mat-flat-button color="accent" align="end">
            <mat-icon>add</mat-icon> Add ORDEM
          </button></h3>
      </div>
    </mat-card-title>
    <mat-card-content>
        <app-datatable [dataSource]="orders" [dataColumns]="dataColumns" [columnsNames]="columnsNames" [dataUrl]="orderServiceUrl" [_id]="'order_id'"></app-datatable>
    </mat-card-content>
  </mat-card>