<mat-card>
  <mat-card-title>
    <div>
      <h3>ORGANIZAÇÕES
        <button [routerLink]="['/organizacao-novo']" mat-flat-button color="accent" align="end">
          <mat-icon>add</mat-icon> Add Organizção
        </button></h3>
    </div>
  </mat-card-title>
  <mat-card-content>
      <app-datatable [dataSource]="orgs" [dataColumns]="dataColumns" [columnsNames]="columnsNames" [dataUrl]="'organizacoes'" [_id]="'org_id'"></app-datatable>
  </mat-card-content>
</mat-card>