<div>
    <h3>Cadastrar Ordem de Serviço </h3>
</div>
<div class="example-container mat-elevation-z1">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="orderForm" editable="true">
            <ng-template matStepLabel>Cadastrar Ordem de Serviço</ng-template>
            <app-dataform [campos]="dataformCampos" (method)="addOrder($event)"></app-dataform>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concluír</ng-template>
            <h3> Ordem de Serviço Cadastrada com Sucesso</h3>
        </mat-step>
    </mat-horizontal-stepper>
</div>