<mat-card>
    <mat-card-title>
      <div>
        <h3>USUÁRIOS
          <button [routerLink]="['/usuario-novo']" mat-flat-button color="accent" align="end">
            <mat-icon>add</mat-icon> Add USUÁRIO
          </button></h3>
      </div>
    </mat-card-title>
    <mat-card-content>
        <app-datatable [dataSource]="users" [dataColumns]="dataColumns" [columnsNames]="columnsNames" [dataUrl]="'usuarios'" [_id]="'user_id'"></app-datatable>
    </mat-card-content>
  </mat-card>