
html,body { height: 100%; margin: 0px; padding: 0px; }

table {
    width: 100%;
    height: auto;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .table-container {
    height: 400px;
    margin-bottom: 50px;
    overflow: auto;
  }
  .mat-sidenav-content {
    min-height: 100% !important;
  }
  .mat-cell, .mat-header-cell {
    border: 1px solid #f8f6f6;
    padding: 3px 5px;
  }
