<div>
    <h3>Editar Usuário </h3>
</div>
<div class="example-loading-shade" *ngIf="isLoadingResults" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults && order.order_id < 0" layout-align="center center">
    <h3>Registro Não encontrado</h3>
</div>
<div class="example-container mat-elevation-z1" *ngIf="!isLoadingResults && order.order_id > 0">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="orderForm" editable="true">
            <ng-template matStepLabel>Editar Usuário</ng-template>
            <app-dataform [campos]="dataformCampos" (method)="EditOrder($event)"></app-dataform>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concluír</ng-template>
            <h3> Usuário Atualizado com Sucesso</h3>
        </mat-step>
    </mat-horizontal-stepper>
</div>