.sidenav-container {
  height: 100%;
  margin-bottom: 0px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-sidenav-content {
  padding-bottom : 55px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.container {
  margin-top: 25px;
  margin-left: 20px;
  margin-right : 20px;
  bottom: 0px;
}

.arrow-right::before {
  border-color: transparent black;
  border-style: solid;
	border-width: 0px 0px 0px 0px;
	height: 0px;
	width: 0px;
}