<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)"
        *ngIf="userData != undefined"
        >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/produtos" routerLinkActive="active">Produtos</a>
        <a mat-list-item routerLink="/organizacoes" routerLinkActive="active" class="arrow-right">Organizações</a>
        <a mat-list-item routerLink="/clientes" routerLinkActive="active">Clientes</a>
        <a mat-list-item routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
        <a mat-list-item routerLink="/ordens" routerLinkActive="active">Ordens</a>
        <a mat-list-item (click)="logoff()" >Sair</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>DASHBOARD</span>
      </mat-toolbar>
      <div class="container">
     <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>