<div>
    <h3>Cadastrar nova Organização</h3>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="clientsForm" editable="false">
        <ng-template matStepLabel>Cadastrar Cliente</ng-template>
        <form class="example-container" [formGroup]="clientsForm" (ngSubmit)="addClient(clientsForm.value)">
            <mat-form-field>
                <mat-select name="org_id" placeholder="ORGANIZAÇÃO" formControlName="org_id">
                    <mat-option *ngFor="let org of orgs " value="{{org.org_id}}">
                        {{org.org_fantasyname}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_companyname" placeholder="RAZãO SOCIAL"
                    formControlName="client_companyname">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_fantasyname" placeholder="NOME FANTASIA"
                    formControlName="client_fantasyname">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_cnpj" placeholder="CNPJ" formControlName="client_cnpj">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_ie" placeholder="IE" formControlName="client_ie">
            </mat-form-field>
            <button type="submit" [disabled]="!clientsForm.valid" matStepperNext mat-button color="green">CADASTRAR
                CLIENTE</button>
        </form>
    </mat-step>
    <mat-step [stepControl]="addressForm">
        <ng-template matStepLabel>Adicionar Endereço</ng-template>
        <form class="example-container" [formGroup]="addressForm" (ngSubmit)="addAddress(addressForm.value)">
            <mat-form-field>
                <input matInput name="address_street" placeholder="Endereço" formControlName="address_street">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_number" placeholder="Número" formControlName="address_number">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_cep" placeholder="CEP" formControlName="address_cep">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_neighborhood" placeholder="BAIRRO" formControlName="address_neighborhood">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_city" placeholder="CIDADE" formControlName="address_city">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_state" placeholder="ESTADO" formControlName="address_state">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="address_country" placeholder="PAÍS" formControlName="address_country">
            </mat-form-field>
            <button type="submit" [disabled]="!addressForm.valid" matStepperNext mat-button color="green">CADASTRAR
                ENDEREÇO</button>
        </form>
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="unitiesForm">
        <ng-template matStepLabel>Adicionar Unidades</ng-template>
        <form class="example-container" [formGroup]="unitiesForm" (ngSubmit)="addUnity(unitiesForm.value)">
            <mat-form-field>
                <mat-select name="address_id" placeholder="Endereço" formControlName="address_id">
                    <mat-option *ngFor="let address of addresses " value="{{address.address_id}}">
                        {{address.address_street}}, {{address.address_number}} - {{address.address_cep}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="unity_name" placeholder="Nome da Unidade" formControlName="unity_name">
            </mat-form-field>
            <button type="submit" [disabled]="!unitiesForm.valid" matStepperNext mat-button color="green">CADASTRAR
                Unidade</button>
        </form>
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="taxesForm" editable="false">
        <ng-template matStepLabel>Adicionar Impostos</ng-template>
        <form class="example-container" [formGroup]="taxesForm" (ngSubmit)="addTaxes(taxesForm.value)">
            <mat-form-field>
                <input matInput name="taxes_icms" placeholder="ICMS" formControlName="taxes_icms">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_iis" placeholder="IIS" formControlName="taxes_iis">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_irpj" placeholder="IRPJ" formControlName="taxes_irpj">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_csll" placeholder="CSLL" formControlName="taxes_csll">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_cofins" placeholder="COFINS" formControlName="taxes_cofins">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_pis" placeholder="PIS" formControlName="taxes_pis">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="taxes_discont" placeholder="DESCONTO (EM %)" formControlName="taxes_discont">
            </mat-form-field>
            <button type="submit" [disabled]="!taxesForm.valid" matStepperNext mat-button color="green">CADASTRAR
                TAXAS</button>
        </form>
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Concluír</ng-template>
        Organização cadastrada e configurada com sucesso
        <div layout="row" flex>
            <button mat-button (click)="stepper.reset()">Cadastrar Novo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>