<form [formGroup]="fGroup" (ngSubmit)="method.emit(fGroup.value)">
    <div class="example-container" *ngFor="let campo of campos">
        <mat-form-field style="display: none;" *ngIf="campo.coltype == 'hidden'">
            <input matInput name="{{campo.colname}}" [placeholder]="campo.collabel" [formControlName]="campo.colname"
                [(value)]="campo.colvalue">
        </mat-form-field>

        <mat-form-field *ngIf="campo.coltype == 'select'">
            <ng-template matStepLabel>{{campo.collabel}}</ng-template>
            <mat-select [placeholder]="campo.collabel" [formControlName]="campo.colname" [(value)]="campo.colvalue">
                <mat-option *ngFor="let data of campo.coldata " [(value)]="data.value">
                    {{ data.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="campo.coltype == 'autocomplete'">
            <input type="text" [placeholder]="campo.collabel" [formControlName]="campo.colname" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let data of campo.coldata " [(value)]="data.value">
                {{ data.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        <mat-form-field *ngIf="campo.coltype == 'text' || campo.coltype == 'password'">
            <input matInput name="{{campo.colname}}" type="{{campo.coltype}}" [placeholder]="campo.collabel"
                [formControlName]="campo.colname" [(value)]="campo.colvalue">
        </mat-form-field>

        <mat-form-field *ngIf="campo.coltype == 'textarea'">
            <textarea matInput name="{{campo.colname}}" [placeholder]="campo.collabel"
                [formControlName]="campo.colname">{{campo.colvalue}}</textarea>
        </mat-form-field>

        <label *ngIf="campo.coltype == 'radio'">{{campo.collabel}}</label>
        <mat-radio-group *ngIf="campo.coltype == 'radio'" [formControlName]="campo.colname" [(value)]="campo.colvalue">
            <mat-radio-button [checked]='campo.colname == data.value' *ngFor="let data of campo.coldata "
                [(value)]="data.value">{{data.name}}</mat-radio-button>
        </mat-radio-group>
        <mat-form-field *ngIf="campo.coltype == 'date'">
            <input matInput [matDatepicker]="picker" [placeholder]="campo.collabel" [formControlName]="campo.colname"
                name="{{campo.colname}}">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <button type="submit" mat-button color="primary">CONFIRMAR</button>
</form>