<app-widget-info [dataSource]="users" [dataColumns]="dataColumns" [columnsNames]="columnsNames" 
[description]="'Detalhes e informacoes sobre o usuário : '+users.user_name" 
[title]="'Sobre o usuário : '+users.user_name"
[editLink]="'usuario-editar'" 
[routeId]="users.user_id" 
[dataVer]="dataVer"
(deleteMethod)="getDialog($event)">
<!-- ACORDION -->
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Clientes Associados
            </mat-panel-title>
            <mat-panel-description>
                    Lista de todos os clientes vinculados ao usuário
            </mat-panel-description>
        </mat-expansion-panel-header>
        <br />
        <app-datatable *ngIf="users.clients != undefined" [dataSource]="users.clients" [dataColumns]="clientColumns" [columnsNames]="clientNames" [dataUrl]="'clientes'" [_id]="'client_id'"></app-datatable>
    </mat-expansion-panel>
</mat-accordion>
</app-widget-info>