<div>
    <h3>LOGIN</h3>
</div>
<div class="example-container mat-elevation-z1">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step editable="true">
            <ng-template matStepLabel>Entrar</ng-template>
            <app-dataform [campos]="usrForm" (method)="login($event)"></app-dataform>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concluír</ng-template>
            <h3> usuário logado com Sucesso</h3>
        </mat-step>
    </mat-horizontal-stepper>
</div>