<div>
    <h2>Movimentar {{produto.product_name}}</h2>
</div>
<form class="example-container" [formGroup]="loteForm" (ngSubmit)="addMovta(loteForm.value)">
    <mat-form-field>
        <ng-template matStepLabel>Adicionar Produto</ng-template>
        <mat-select name="client_id" placeholder="Cliente de origem" formControlName="client_id">
            <mat-option *ngFor="let client of clientsFrom " value="{{client.client_id}}" (click)="setUnitiesFrom(client.client_id)">
                {{client.client_fantasyname}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="unity_id" placeholder="Unidade de Origem" formControlName="unity_id">
            <mat-option *ngFor="let unity of unitiesFrom " value="{{unity.unity_id}}">
                {{unity.unity_name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="productmovta_client_id" placeholder="Cliente de Destino" formControlName="productmovta_client_id">
            <mat-option *ngFor="let client of clientsTo " value="{{client.client_id}}" (click)="setUnitiesTo(client.client_id)">
                {{client.client_fantasyname}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-select name="productmovta_unity_id" placeholder="Unidade de Destino" formControlName="productmovta_unity_id">
            <mat-option *ngFor="let unity of unitiesTo " value="{{unity.unity_id}}">
                {{unity.unity_name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="productmovta_qtd" placeholder="QUANTIDADE" formControlName="productmovta_qtd">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="productmovta_type" placeholder="TIPO" formControlName="productmovta_type">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="productmovta_obs" placeholder="OBS.:" formControlName="productmovta_obs">
    </mat-form-field>
    <button type="submit" [disabled]="!loteForm.valid" mat-button md-colors="green">Aplicar Movimentação</button>
</form>
<div *ngIf="this.movta.data.length > 0">
    <h3>Novas Movimentações Adicionadas</h3>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value, this.products)" placeholder="Buscar ...">
    </mat-form-field>
    <div class='table-container'>
        <table mat-table [dataSource]="this.movta">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
            <!-- Name Column -->
            <ng-container matColumnDef="origem" sticky>
                <th mat-header-cell *matHeaderCellDef> ORIGEM </th>
                <td mat-cell *matCellDef="let element"> {{element.client_id}} - {{element.unity_id }}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="destino" sticky>
                <th mat-header-cell *matHeaderCellDef>  DESTINO </th>
                <td mat-cell *matCellDef="let element"> {{element.productmovta_client_id}} - {{element.productmovta_unity_id }}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="qtd">
                <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
                <td mat-cell *matCellDef="let element"> {{element.productmovta_qtd}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> USUÁRIO </th>
                <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> TIPO </th>
                <td mat-cell *matCellDef="let element"> {{element.productmovta_type}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="movtaColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: movtaColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 300]" showFirstLastButtons></mat-paginator>
</div>