<div>
    <h3>Cadastrar nova Organização</h3>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="orgsForm" editable="true">
        <ng-template matStepLabel>Cadastrar Organização</ng-template>
        <form class="example-container" [formGroup]="orgsForm" (ngSubmit)="addOrg(orgsForm.value)">
            <mat-form-field>
                <input matInput name="org_companyname" placeholder="RAZãO SOCIAL" formControlName="org_companyname">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="org_fantasyname" placeholder="NOME FANTASIA"
                    formControlName="org_fantasyname"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="org_cnpj" placeholder="CNPJ" formControlName="org_cnpj">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="org_ie" placeholder="IE" formControlName="org_ie">
            </mat-form-field>
            <button type="submit" [disabled]="!orgsForm.valid" mat-button matStepperNext
                color="primary">Próximo</button>
        </form>
    </mat-step>
    <mat-step>
        <ng-template #createlote></ng-template>
        <ng-template matStepLabel>Adicionar Clientes</ng-template>
        <app-create-client>
            <!---->
        </app-create-client>
        <form class="example-container" [formGroup]="clientsForm" (ngSubmit)="addCliente(clientsForm.value)">
            <mat-form-field>
                <input matInput name="client_companyname" placeholder="RAZãO SOCIAL"
                    formControlName="client_companyname">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="client_fantasyname" placeholder="NOME FANTASIA"
                    formControlName="client_fantasyname"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_cnpj" placeholder="CNPJ" formControlName="client_cnpj">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="client_ie" placeholder="IE" formControlName="client_ie">
            </mat-form-field>
            <button type="submit" [disabled]="!clientsForm.valid" mat-button color="green">CADASTRAR CLIENTE</button>
        </form>
        <div *ngIf="this.clientes.data.length > 0">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, this.clientes)" placeholder="Buscar ...">
            </mat-form-field>
            <div class='table-container'>
                <table mat-table [dataSource]="clientes">
                    <!-- Position Column -->
                    <ng-container matColumnDef="companyname" sticky>
                        <th mat-header-cell *matHeaderCellDef> RAZÃO SOCIAL </th>
                        <td mat-cell *matCellDef="let element"> {{element.client_companyname}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fantasyname">
                        <th mat-header-cell *matHeaderCellDef> NOME FANTASIA </th>
                        <td mat-cell *matCellDef="let element"> {{element.client_fantasyname}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="cnpj">
                        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.client_cnpj == null ? 'NÃO INFORMADO' : element.client_cnpj}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="ie">
                        <th mat-header-cell *matHeaderCellDef> IE </th>
                        <td mat-cell *matCellDef="let element"> {{element.client_ie == null ? 'ISENTO' : element.client_ie }}
                        </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef> CADASTRO </th>
                        <td mat-cell *matCellDef="let element"> {{element.created_at | date : 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="acao" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef>#</th>
                        <td mat-cell *matCellDef="let element"> <button mat-flat-button
                                routerLink="/clientes/{{element.client_id}}" selected>
                                <mat-icon>chevron_right</mat-icon>
                            </button></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="clientesColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: clientesColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 300]" showFirstLastButtons></mat-paginator>
        </div>
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Concluír</ng-template>
        Organização cadastrada e configurada com sucesso
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Cadastrar Novo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>