<div>
    <h3>Adicionar Novo Produto</h3>
</div>
<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="productForm" editable="false">
            <ng-template matStepLabel>Adicionar Produto</ng-template>
            <app-dataform [campos]="productformData" (method)="addProduto($event)"></app-dataform>

        <form class="example-container" [formGroup]="productForm" (ngSubmit)="addProduto(productForm.value)">
            <mat-form-field>
                
                <mat-select name="category_id" placeholder="Categoria" formControlName="category_id">
                    <mat-option *ngFor="let categoria of categories " value="{{categoria.category_id}}">
                        {{categoria.category_name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="product_name" placeholder="NOME" formControlName="product_name">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput name="product_description" placeholder="DESCRIÇÃO"
                    formControlName="product_description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput name="product_provider" placeholder="FORNECEDOR" formControlName="product_provider">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="product_price" placeholder="PREÇO" formControlName="product_price">
            </mat-form-field>
            <label>PRODUTO DE AMOSTRA: </label>
            <mat-radio-group formControlName="product_sample">
                <mat-radio-button value="0">NÃO</mat-radio-button>
                <mat-radio-button value="1">SIM</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
                <input matInput name="product_code" placeholder="CÓDIGO (Ex.: código de barras)"
                    formControlName="product_code">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="product_weight" placeholder="PESO DO PRODUTO (EM Quilos)"
                    formControlName="product_weight">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="product_scale"
                    placeholder="TAMANHO DO PRODUTO ( Separe por vírgula ',' Ex.: Altura,Largura,Diametro )"
                    formControlName="product_scale">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker"
                    placeholder="GARANTIA (informe a garantia oferecida pelo fornecedor)"
                    formControlName="product_waranty" name="product_waranty">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" [disabled]="!productForm.valid" mat-button matStepperNext
                color="primary">Próximo</button>
        </form>
    </mat-step>
    <mat-step>
            <ng-template #createlote></ng-template>
            <ng-template matStepLabel>Adicionar Lotes</ng-template>
        <form class="example-container" [formGroup]="loteForm" (ngSubmit)="addLote(loteForm.value)">
            <mat-form-field>
                <input matInput name="productlote_code" placeholder="CÓDIGO (codigo de referência do lote)"
                    formControlName="productlote_code">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="productlote_price" placeholder="PREÇO" formControlName="productlote_price">
            </mat-form-field>
            <mat-form-field>
                <input matInput name="productlote_qtd" placeholder="QUANTIDADE" formControlName="productlote_qtd">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerv"
                    placeholder="VALIDADE (informe a validade oferecida pelo fornecedor)"
                    formControlName="productlote_validity" name="productlote_validity">
                <mat-datepicker-toggle matSuffix [for]="pickerv"></mat-datepicker-toggle>
                <mat-datepicker #pickerv></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="pickerg1"
                    placeholder="GARANTIA (informe a garantia oferecida pelo fornecedor)"
                    formControlName="productlote_waranty" name="productlote_waranty">
                <mat-datepicker-toggle matSuffix [for]="pickerg1"></mat-datepicker-toggle>
                <mat-datepicker #pickerg1></mat-datepicker>
            </mat-form-field>
            <button type="submit" [disabled]="!loteForm.valid" mat-button color="green">CADASTRAR LOTE</button>
        </form>
        <div *ngIf="this.lotes.data.length > 0">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value, this.products)" placeholder="Buscar ...">
            </mat-form-field>
            <div class='table-container'>
                <table mat-table [dataSource]="this.lotes">

                    <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
                    <!-- Name Column -->
                    <ng-container matColumnDef="code" sticky>
                        <th mat-header-cell *matHeaderCellDef> CÓDIGO </th>
                        <td mat-cell *matCellDef="let element"> {{element.productlote_code}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef> PREÇO </th>
                        <td mat-cell *matCellDef="let element"> R{{element.productlote_price | currency:'BRL':true}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="qtd">
                        <th mat-header-cell *matHeaderCellDef> QUANTIDADE </th>
                        <td mat-cell *matCellDef="let element"> {{element.productlote_qtd}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="validity">
                        <th mat-header-cell *matHeaderCellDef> GARANTIA </th>
                        <td mat-cell *matCellDef="let element"> {{element.productlote_waranty | date : 'dd/MM/yyyy'}} </td>
                    </ng-container>
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="waranty">
                        <th mat-header-cell *matHeaderCellDef> VALIDADE </th>
                        <td mat-cell *matCellDef="let element"> {{element.productlote_validity | date : 'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="lotesColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: lotesColumns;"></tr>
                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 300]" showFirstLastButtons></mat-paginator>
        </div>
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Concluír</ng-template>
        Seu produto foi cadastrado e configurado com sucesso.
        <div layout="row" flex>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Cadastrar Novo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>