<h2 mat-dialog-title>Excluír Registro</h2>
<mat-dialog-content class="mat-typography">
    <p>
        Deseja Realmente Excluír este registro ?
        {{ message }}
    </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Excluír</button>
</mat-dialog-actions>