<div>
    <h3>Editar Produto </h3>
</div>
<div class="example-loading-shade" *ngIf="isLoadingResults" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults && produto.product_id < 0" layout-align="center center">
    <h3>Registro Não encontrado</h3>
</div>
<div class="example-container mat-elevation-z1" *ngIf="!isLoadingResults && produto.product_id > 0">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="productForm" editable="true">
            <ng-template matStepLabel>Editar Produto</ng-template>
            <app-dataform [campos]="dataformCampos" (method)="EditProduto($event)"></app-dataform>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Concluír</ng-template>
            <h3> Produto Atualizado com Sucesso</h3>
        </mat-step>
    </mat-horizontal-stepper>
</div>