<div>
    <h3>Editar Organização {{org.org_fantasyname}}</h3>
</div>
<div class="example-loading-shade" *ngIf="isLoadingResults" layout-align="center center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoadingResults && org.org_id == undefined" layout-align="center center">
    <h3>Registro Não encontrado</h3>
</div>
<div class="example-container mat-elevation-z8" *ngIf="!isLoadingResults && org.org_id != undefined">
    <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step>
            <form class="example-container" [formGroup]="orgForm" (ngSubmit)="EditOrg(orgForm.value)">
                <ng-template matStepLabel>Adicionar Produto</ng-template>
                <mat-form-field>
                    <input matInput name="org_companyname" placeholder="RAZÃO SOCIAL" formControlName="org_companyname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="org_fantasyname" placeholder="NOME FANTASIA"
                        formControlName="org_fantasyname">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="org_cnpj" placeholder="CNPJ" formControlName="org_cnpj">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="org_ie" placeholder="IE" formControlName="org_ie">
                </mat-form-field>
                <button type="submit" [disabled]="!orgForm.valid" mat-button color="primary">Atualizar</button>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>